body {
  overflow: scroll;
}
.header {
  background-color: #02b7e9;
  position: absolute;
  width: 100%;
  height: 85px;
  margin-top: -10px;
   opacity:0.8;
  -webkit-box-shadow: 0px 8px 49px -4px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 8px 49px -4px rgba(0,0,0,0.49);
box-shadow: 0px 8px 49px -4px rgba(0,0,0,0.49);
}
.logo {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainContent {
  height: 1000px;
  width: auto;
  background-color: white;
}

.section {
position:relative;
  padding-left: 50px;
  padding-top: 150px;
  font-family: "Poiret One";
  font-size: 35px;
  margin-top: 10px;
  font-color: black;
  border-bottom: 1px solid black;
  width:560px;
  margin-left:225px;
}
.footer {
  background-color: #02b7e9;
  opacity:0.8;
  width: auto;
  height: 50px;
  -webkit-box-shadow: 0px -10px 39px -15px rgba(0,0,0,0.49);
-moz-box-shadow: 0px -10px 39px -15px rgba(0,0,0,0.49);
box-shadow: 0px -10px 39px -15px rgba(0,0,0,0.49);
}
.copyright {
  color: white;
  font-family: "Poiret One";
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 15px;
}
